<h1>CADASTRO DE LIVROS</h1>
<hr>
<h1>Me chamouuuuuuuuuuuuuuuuuuuuuuuuuuuuu :D</h1>
<img [src]="imagem" width="50" height="50">
  
  <table class="table table-striped">
  
    <thead>
      <tr>
        <th>Imagens</th>
        <th>Nome</th>
        <th>Autor</th>
        <th>Ano</th>
        <th>Gênero</th>
        <th>Editora</th>
        <th>Páginas</th>
        <th>Status</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor='let l of _livros'>
        <td><img [src]="l.imagem" width="80" height="80"></td>
        <td>{{ l.nome }}</td>
        <td>{{ l.autor }}</td>
        <td>{{ l.ano }}</td>
        <td>{{ l.genero }}</td>
        <td>{{ l.editora }}</td>
        <td>{{ l.pagina }}</td>
        <td>{{ l.status }}</td>
      </tr>
    </tbody>
  
  </table>